@use "@/styles/variables.scss" as *;

.roleCard {
  flex: 1;
  text-align: left;
  border-radius: 12px !important;
  box-shadow: $shadow-card !important;
  border: 1px solid $surface-light !important;
  transition: all 0.3s ease;
  padding: 10px;
}

.roleCard:hover {
  box-shadow: $shadow-card-hover !important;
  transform: translateY(-2px);
}

.cardIconWrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  font-size: 20px;
}

/* Modifier classes for icon colors based on role */
.adminIcon {
  background-color: $primary-bg-light;
  color: $primary-base;
}

.viewerIcon {
  background-color: $surface-light;
  color: $text-secondary;
}

.cardTitle {
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-bottom: 12px !important;
  color: $text-primary !important;
}

.cardDescription {
  color: $text-secondary;
  font-size: 14px;
  margin-bottom: 32px;
  line-height: 1.5;
  min-height: 42px; /* aligns both cards if text varies slightly */
}

.cardButton {
  width: 100%;
  height: 40px !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
}
