@use "@/styles/variables.scss" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-md;
  padding: $spacing-xl;
  background-color: #f3f3f3;
  font-family: $font-body;
  font-size: 0.875rem;
  color: $text-secondary;
}

.footerLink {
  cursor: pointer;
  color: $text-secondary;
  transition: color 0.2s;

  &:hover {
    color: $primary-base;
  }
}

.footerDot {
  color: #c1c6d7;
}
